---
http_interactions:
- request:
    method: get
    uri: https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?filter%5BclinicianId%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Version:
      - '2019-01-17'
      Application-Build-Version:
      - 0.0.0
      Application-Platform:
      - web
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"79bf2858fe573d54a16ad1407a99fd8d"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6","type":"cptCodes","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes/6"},"attributes":{"description":"Group
        Therapy","duration":50,"rate":"300.0","callToBook":"false"}},{"id":"3866","type":"cptCodes","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes/3866"},"attributes":{"description":"Psychiatric
        Diagnostic Evaluation","duration":50,"rate":"100.0","callToBook":"false"}},{"id":"3871","type":"cptCodes","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes/3871"},"attributes":{"description":"Psychotherapy
        for Crisis, 60 min","duration":50,"rate":"100.0","callToBook":"false"}},{"id":"52969","type":"cptCodes","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes/52969"},"attributes":{"description":"Developmental
        Testing, Extended","duration":50,"rate":"100.0","callToBook":"false"}}],"links":{"first":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10","last":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10"}}'
  recorded_at: Wed, 23 Dec 2020 20:14:01 GMT
recorded_with: VCR 6.0.0
